<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script
	src="../static/thirdparty-js/jquery-captcha-master/dist/jquery-captcha.min.js"
	th:src="@{/thirdparty-js/jquery-captcha-master/dist/jquery-captcha.min.js}"></script>
<script src="../static/js/login.js" th:src="@{/js/login.js}"
	type="text/javascript"></script>	
<link href="../static/css/login.css" th:href="@{/css/login.css}"
	rel="stylesheet" />
</head>
<body>
	<form>
		<div class="container">
			<label for="uname"><b>Username</b></label> <input type="text"
				placeholder="Enter Username" name="username" id="username" required>
			<label for="psw"><b>Password</b></label> <input type="password"
				placeholder="Enter Password" name="password" id="password" required>

			<!-- show Captcha image html-->
			<div id="botdetect-captcha" data-stylename="exampleCaptcha"></div>

			<!-- captcha code user input textbox -->
			<label> <span>Retype the characters from the picture:</span>
				<input type="text" name="captchaCode" id="captchaCode">
			</label>

			<button type="submit" id="submitBtn" name="submitBtn">Login</button>
			<label> <input type="checkbox" checked="checked"
				name="remember"> Remember me
			</label>
		</div>

		<div class="container" style="background-color: #f1f1f1">
			<button type="button" class="cancelbtn">Cancel</button>
			<span class="psw">Forgot <a href="#">password?</a></span>
		</div>
	</form>
	
	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.1&appId=279776559290069&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-login-button" data-max-rows="1" data-size="medium" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true"></div>
</body>
	
</body>
</html>